@import "bootstrap/bootstrap";
@import "modules/nav";
@import "modules/button";
@import "modules/status";
@import "modules/users";



// @btn-font-weight: 300;
// @font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
//
// body, label, .checkbox label {
// 	font-weight: 300;
// }
// Main
body {
	padding-top: 80px;
	background-color: rgb(240, 240, 240);
	font-family: 'Roboto', sans-serif;
}

.container h1:first-of-type {
	margin-top: 0;
}

.page-header {
	text-align: center;
	margin-bottom: 1em;
	padding-bottom: .5em;
	border-bottom: 1px solid #ddd;
}
